
program/ejemplobd-1104/.vs/ejemplobd-1104/v16/.suo
program/ejemplobd-1104/ejemplobd-1104/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
program/ejemplobd-1104/ejemplobd-1104/obj/Debug/ejemplobd-1104.vbproj.AssemblyReference.cache
